$gradiente-blue: radial-gradient(farthest-corner at 10px 10px, white, #369CD4, #369CD4);
$gradiente-red: radial-gradient(farthest-corner at 60% 55%, white, #FF1800, #FF1800);
$gradiente-yellow: radial-gradient(farthest-corner at 60% 55%, white, #FFE45D, #FFE45D);
$gradiente-green: radial-gradient(farthest-corner at 60% 55%, white, #4FD624, #4FD624);

$border-black: 2px solid black;
$border-white: 3px solid #E6FFFF;